/*My stylesheet*/

*{
  margin-left: 15px;
}

body{
  background-color: rgb(100, 140, 130);
  color: rgb(200, 200, 130);
}

h1{
  color: rgb(255, 255, 0);
  font-family: Arial, Calibri, sans-serif;
}

h2{
  color: rgb(0, 255, 255);
  font-family: Calibri, Arial, sans-serif;
}

p{
  font-family: Arial;
}

a {
  color: rgb(150, 200, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration: bold;
  color: rgb(150, 255, 0);
}

ul {
  margin: 0 0 10px 30px;
  font-family: Arial, sans-serif, Calibri;
  list-style-type: upper-roman;
}

li {
  margin: 0 5px 10px 30px;
  font-family: Arial, sans-serif, Calibri;
  list-style-type: upper-roman;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 20px;
}

.logo {
  background-color: rgb(100, 140, 130);
  font-size: 50px;
}

.navbar {
  background-color: rgb(100, 140, 130);
  padding: 20px;
  text-align: left;
}

.content-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 20px;
}

.picture-card {
  border: 1px solid rgb(5, 5, 5);
  border-radius: 20px;
  overflow: hidden;
}

.picture-card > img {
  max-width: 100%;
  height: auto;
}

.picture-card > p {
  margin-left: 10px;
}

.card {

}
